<div class="Homepage">
  <img
    (click)="sportsClicked()"
    (mouseenter)="onLeftButtonHover()"
    (mouseleave)="offLeftButtonHover()"
    class="fit-image"
    src="../../assets/img/sports.png"
    alt="onground sports"
    height="100%"
    width="100%"
  />
  <img
    (click)="musicClicked()"
    (mouseenter)="onRightButtonHover()"
    (mouseleave)="offRightButtonHover()"
    class="fit-image"
    src="../../assets/img/music.png"
    alt="onground music"
    height="100%"
    width="100%"
  />
  <!-- </div> -->
</div>

<div class="Welcome">WELCOME TO THE UNIVERSE OF SPORTS AND MUSIC</div>
<div class="Or">
  <span
    style="text-decoration: line-through; font-size: 1em;padding-right: 10px;"
  >
    <span style="font-size: 0.4em; vertical-align: middle; margin: auto;">
      {{ spaces }}
    </span>
  </span>
  OR
  <span style="text-decoration: line-through; font-size: 1em;">
    <span style="font-size: 0.4em; vertical-align: middle; margin: auto;">
      {{ spaces }}
    </span>
  </span>
</div>
<div class="Onground">
  WELCOME TO ONGROUND
</div>
<div class="buttons">
  <div style="display: inline;">
    <div class="left-button" [ngClass]="{ buttonHover: leftHover }">SPORTS</div>
    <div class="right-button" [ngClass]="{ buttonHover: rightHover }">
      MUSIC
    </div>
  </div>
</div>
